body {
    background-color: #E8F6EF;
}

/* МЕНЮ СТИЛЬ */

.menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #E8F6EF;
    height: 90px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.item:hover {
    border: #4A47A3 solid 2px;
    color: #4A47A3;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.first {
    margin-right: auto;
    font-size: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.search {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-right: 20px;
    width: 300px;
    border: none;
    font-size: 20px;
}

.iconSearch {
    margin-right: 20px;
}

/* ВСТУПЛЕНИЕ */

.banner {
    display: flex;
    justify-content: center;
    height: 40vh;
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position: center;
    margin-top: 70px; 
}

.bannerHeader {
    align-self: center;
    text-align: center;
    font-size: 40px;
    background-color: rgba(238, 245, 245, 0.534);
    padding-left: 40px;
    padding-right: 40px;
}


.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 30px;
    text-align: center;
}

/* ПУТЕВОДИТЕЛИ */

.parentCountry {
    display: flex;
}


.one {
    background-image: url(../САЙТ/photo/usa.jpg);
}

.two {
    background-image: url(../САЙТ/photo/turkey.jpg);
}

.three {
    background-image: url(../САЙТ/photo/peru.jpg);
}

.four {
    background-image: url(../САЙТ/photo/new-york.jpg);
}

.five {
    background-image: url(../САЙТ/photo/spb.jpg);
}

.six {
    background-image: url(../САЙТ/photo/kavkaz.jpg);
}


.country {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 40%;
    margin: 10px;
}

.positon {
    text-align: center;
    font-size: 20px;
    background-color: rgba(238, 245, 245, 0.575);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
}

.btn {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF75A0;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #046582;
    color: white;
}

/* СОЦСЕТИ */

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.toma {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 10px;
}

@media all and (max-width: 800px) {
    .hello {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }

    .parentCountry {
        display: flex;
        flex-direction: column;
    }

    .country {
        width: 100%;
    }


}

@media all and (max-width: 800px) {
    .first {
        font-size: 20px;
    }

    .search {
        width: 200px;
        font-size: 15px;
    }
    
    .iconSearch {
        margin-top: 10px;
    }

    .hello {
        font-size: 15px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .banner {
        height: 30vh;
    }

    .bannerHeader {
        font-size: 20px;
    }
}

